<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление плашки</title>
    <style>
        .container-menu {
            margin: 1em auto;
            padding-inline: 1em;
            max-width: 1465px;
        }
        .product-card-pos {
            --padding: 0.625rem;
            --inner-radius: 0.3rem;

            display: grid;
            gap: 0.625rem;
            align-content: space-between;
            align-items: end;

            padding: var(--padding);

            background-color: white;
            box-shadow: 0px 2px 8px rgba(6, 50, 77, 0.15);

            border-radius: calc(var(--padding) + var(--inner-radius));
        }

        .product-list {
            --card-min-width: 230px;

            display: grid;
            gap: 1rem;
            grid-auto-flow: row dense;
            grid-template-columns: repeat(
                auto-fill,
                minmax(var(--card-min-width), 1fr)
            );

            list-style: none;
        }

        .container {
            display: grid;
            justify-content: center;
        }

        .product-card {
            margin: 15px;
        }

    </style>
    <link rel="stylesheet" href="../css/goods.css">
    <link rel="stylesheet" href="../css/search.css">
    <link rel="stylesheet" href="../css/image.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<div class="head_row">
    <button class="main_menu">Главная</button>
    <input type="text" class="search" placeholder="Строка поиска">
    <button class="yellow-button"></button>
    <button class="main-button"></button>
    <button class="brown-button"></button>
    <button class="account">Аккаунт</button>
</div>
<div class="container-menu">
<ul class="product-list">
        <article class="product-card product-card-pos">
            <img class="product-card__picture" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0f/ba/29/5c/img-worlds-of-adventure.jpg?w=1200&h=1200&s=1" width="100%" height="200" alt="product" />
            <span class="product-card__name">Парк атракционов c каруселями и аквапарком(летний, сборный, для детей)</span>
            <span class="product-card__price">150000 р</span>
            <button class="button">В корзину</button>
        </article>
        <article class="product-card product-card-pos">
            <img class="product-card__picture" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0f/ba/29/5c/img-worlds-of-adventure.jpg?w=1200&h=1200&s=1" width="100%" height="200" alt="product" />
            <span class="product-card__name">Парк атракционов c каруселями и аквапарком(летний, сборный, для детей)</span>
            <span class="product-card__price">150000 р</span>
            <button class="button">В корзину</button>
        </article>
        <article class="product-card product-card-pos">
            <img class="product-card__picture" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0f/ba/29/5c/img-worlds-of-adventure.jpg?w=1200&h=1200&s=1" width="100%" height="200" alt="product" />
            <span class="product-card__name">Парк атракционов c каруселями и аквапарком(летний, сборный, для детей)</span>
            <span class="product-card__price">150000 р</span>
            <button class="button">В корзину</button>
        </article>
        <article class="product-card product-card-pos">
            <img class="product-card__picture" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0f/ba/29/5c/img-worlds-of-adventure.jpg?w=1200&h=1200&s=1" width="100%" height="200" alt="product" />
            <span class="product-card__name">Парк атракционов c каруселями и аквапарком(летний, сборный, для детей)</span>
            <span class="product-card__price">150000 р</span>
            <button class="button">В корзину</button>
        </article>
        <article class="product-card product-card-pos">
            <img class="product-card__picture" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0f/ba/29/5c/img-worlds-of-adventure.jpg?w=1200&h=1200&s=1" width="100%" height="200" alt="product" />
            <span class="product-card__name">Парк атракционов c каруселями и аквапарком(летний, сборный, для детей)</span>
            <span class="product-card__price">150000 р</span>
            <button class="button">В корзину</button>
        </article>
        <article class="product-card product-card-pos">
            <img class="product-card__picture" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0f/ba/29/5c/img-worlds-of-adventure.jpg?w=1200&h=1200&s=1" width="100%" height="200" alt="product" />
            <span class="product-card__name">Парк атракционов c каруселями и аквапарком(летний, сборный, для детей)</span>
            <span class="product-card__price">150000 р</span>
            <button class="button">В корзину</button>
        </article>
        <article class="product-card product-card-pos">
            <img class="product-card__picture" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0f/ba/29/5c/img-worlds-of-adventure.jpg?w=1200&h=1200&s=1" width="100%" height="200" alt="product" />
            <span class="product-card__name">Парк атракционов c каруселями и аквапарком(летний, сборный, для детей)</span>
            <span class="product-card__price">150000 р</span>
            <button class="button">В корзину</button>
        </article>
        <article class="product-card product-card-pos">
            <img class="product-card__picture" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0f/ba/29/5c/img-worlds-of-adventure.jpg?w=1200&h=1200&s=1" width="100%" height="200" alt="product" />
            <span class="product-card__name">Парк атракционов c каруселями и аквапарком(летний, сборный, для детей)</span>
            <span class="product-card__price">150000 р</span>
            <button class="button">В корзину</button>
        </article>
        <article class="product-card product-card-pos">
            <img class="product-card__picture" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0f/ba/29/5c/img-worlds-of-adventure.jpg?w=1200&h=1200&s=1" width="100%" height="200" alt="product" />
            <span class="product-card__name">Парк атракционов c каруселями и аквапарком(летний, сборный, для детей)</span>
            <span class="product-card__price">150000 р</span>
            <button class="button">В корзину</button>
        </article>
        <article class="product-card product-card-pos">
            <img class="product-card__picture" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0f/ba/29/5c/img-worlds-of-adventure.jpg?w=1200&h=1200&s=1" width="100%" height="200" alt="product" />
            <span class="product-card__name">Парк атракционов c каруселями и аквапарком(летний, сборный, для детей)</span>
            <span class="product-card__price">150000 р</span>
            <button class="button">В корзину</button>
        </article>
        <article class="product-card product-card-pos">
            <img class="product-card__picture" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0f/ba/29/5c/img-worlds-of-adventure.jpg?w=1200&h=1200&s=1" width="100%" height="200" alt="product" />
            <span class="product-card__name">Парк атракционов c каруселями и аквапарком(летний, сборный, для детей)</span>
            <span class="product-card__price">150000 р</span>
            <button class="button">В корзину</button>
        </article>
        <div class="image-container">
            <div class="image-podcontainer">
                <img class="image-container-img" src="../saveMysoul.jpg" alt="product" />
            </div>
        </div>
        <article class="product-card product-card-pos">
            <img class="product-card__picture" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0f/ba/29/5c/img-worlds-of-adventure.jpg?w=1200&h=1200&s=1" width="100%" height="200" alt="product" />
            <span class="product-card__name">Парк атракционов c каруселями и аквапарком(летний, сборный, для детей)</span>
            <span class="product-card__price">150000 р</span>
            <button class="button">В корзину</button>
        </article>
        <article class="product-card product-card-pos">
            <img class="product-card__picture" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0f/ba/29/5c/img-worlds-of-adventure.jpg?w=1200&h=1200&s=1" width="100%" height="200" alt="product" />
            <span class="product-card__name">Парк атракционов c каруселями и аквапарком(летний, сборный, для детей)</span>
            <span class="product-card__price">150000 р</span>
            <button class="button">В корзину</button>
        </article>
        <article class="product-card product-card-pos">
            <img class="product-card__picture" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0f/ba/29/5c/img-worlds-of-adventure.jpg?w=1200&h=1200&s=1" width="100%" height="200" alt="product" />
            <span class="product-card__name">Парк атракционов c каруселями и аквапарком(летний, сборный, для детей)</span>
            <span class="product-card__price">150000 р</span>
            <button class="button">В корзину</button>
        </article>
        <article class="product-card product-card-pos">
            <img class="product-card__picture" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0f/ba/29/5c/img-worlds-of-adventure.jpg?w=1200&h=1200&s=1" width="100%" height="200" alt="product" />
            <span class="product-card__name">Парк атракционов c каруселями и аквапарком(летний, сборный, для детей)</span>
            <span class="product-card__price">150000 р</span>
            <button class="button">В корзину</button>
        </article>
        <article class="product-card product-card-pos">
            <img class="product-card__picture" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0f/ba/29/5c/img-worlds-of-adventure.jpg?w=1200&h=1200&s=1" width="100%" height="200" alt="product" />
            <span class="product-card__name">Парк атракционов c каруселями и аквапарком(летний, сборный, для детей)</span>
            <span class="product-card__price">150000 р</span>
            <button class="button">В корзину</button>
        </article>
</ul>
</div>

<button id="addButton">Добавить</button>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const container = document.querySelector('.container');
    const addButton = document.getElementById('addButton');

    addButton.addEventListener('click', function() {
        const clonedContainer = container.cloneNode(true);
        container.parentNode.insertBefore(clonedContainer, container.nextSibling);
    });
});
</script>

</body>
</html>