<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <article class="profile-info">
        <div class="image-container">
            <div class="image-podcontainer">
                <img class="image-container-img" src="../saveMysoul.jpg" alt="product" />
            </div>
        </div>
        <article class="profile__name_key">Имя</article>
        <article class="profile__name">Глинский Максим Станиславович</article>
        <article class="profile__phone_number_key">Номер телефон</article>
        <article class="profile__phone_number">89027367162</article>
        <article class="profile__email_key">Почта</article>
        <article class="profile__email">glin.maxim@yandex.ru</article>
        <article class="profile__birthday_key">Дата рождения</article>
        <article class="profile__birthday">27.08.2002</article>
        <article class="profile__city_key">Город</article>
        <article class="profile__city">Тверь</article>
    </article>
</body>
</html>