<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/search.css">
    <link rel="stylesheet" href="../css/profile.css">
</head>
<body>
    <div class="head_row">
        <button class="main_menu">Главная</button>
        <input type="text" class="search" placeholder="Строка поиска">
        <button class="yellow-button"></button>
        <button class="main-button"></button>
        <button class="brown-button"></button>
        <button class="account">Аккаунт</button>
    </div>
    <div  class="info">
    <article class="profile-info">
        <div class="image-container">
            <div class="image-podcontainer">
                <img class="image-container-img" src="../saveMysoul.jpg" alt="product" />
            </div>
        </div>
        <div class="profile_name">
            <article class="profile__name_key">Имя</article>
            <article class="profile__name">Глинский Максим Станиславович</article>
        </div>
        <div class="profile_phone_number">
            <article class="profile__phone_number_key">Номер телефон</article>
            <article class="profile__phone_number">89027367162</article>
        </div>
        <div class="profile_email">
            <article class="profile__email_key">Почта</article>
            <article class="profile__email">glin.maxim@yandex.ru</article>
        </div>
        <div class="profile_birthday">
            <article class="profile__birthday_key">Дата рождения</article>
            <article class="profile__birthday">27.08.2002</article>
        </div>
        <div class="profile_city">
            <article class="profile__city_key">Город</article>
            <article class="profile__city">Тверь</article>
        </div>
    </article>
    </div>
</body>
</html>