@font-face {
    font-family: 'Dzimaa';
    src: url('../fonts/Dzimaa/Dzimaa.otf') format('opentype');
}

.container-menu {
    display: flex;

    flex-direction: column;

    max-width: 1000px;
    min-width: 375px;
    margin: auto;
}

.product-list {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    gap: 1rem 30px;

    width: 100%;
    min-width: 375px;
    max-width: 1000px;

    list-style: none;

    padding: 0px;
}

.product-card-pos {
    --padding: 0.625rem;
    --inner-radius: 0.3rem;

    display: grid;
    gap: 0.625rem;
    align-content: space-between;
    align-items: end;

    padding: var(--padding);

    border-radius: calc(var(--padding) + var(--inner-radius));

    border: 3px solid #000;
    box-shadow: 4px 4px 0px 1px rgba(0, 0, 0, 0.8);

    flex: 1 1 0;
}


.container {
    display: grid;
    justify-content: center;
}

.product-card {

    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 20px;
}

.article-goods {
    width: fit-content;
    min-width: 400px;

    background: black;
    color: white;

    margin: 0px auto;

    border-radius: 15px;

    border: 3px solid #000;
    box-shadow: 4px 4px 0px 1px rgba(0, 0, 0, 0.8);

    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 20px;
}

.article-link{
    min-width: 375px;
    max-width: 400px;
    width: 100%;

    max-height: 400px;
    height: 100%;

    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 18px;

    flex: 1 2 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 30px min(5vw, 100px);


}

.article-title{
    margin: 0px 20px 20px 20px;
    font-size: 30px;

    min-width: 200px;
    max-width: 300px;
}

.article-description{
    min-width: 200px;
    max-width: 300px;
    width: 100%;

    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;

    background-color: #8FC3FF;

    margin: 0px 0px;
    padding: 10px;

    font-family: 'Dzimaa';

    border-radius: 15px;
    border: 3px solid #000;
}
