@font-face {
    font-family: 'Dzimaa';
    src: url('../fonts/Dzimaa/Dzimaa.otf') format('opentype');
}

.important {
    background: #C7FCEC;

    padding: 10px;

    text-align: right;
    box-shadow: 5px 5px 0px 3px rgba(0, 0, 0, 0.7);

    font-size: min(26px, 7vw);
}
.h1_article_name{
    display: flex;
    justify-content: center;

    padding: 40px 0px 40px 0px;
    margin: auto;

    font-size: min(5vw, 40px);
    font-family: 'Dzimaa';

    text-align: center;

    min-width: 375px;
    max-width: 1000px;
    word-break: break-word;
}

.article-text p{
    margin: 30px auto;
    padding: 10px 20px;
}

.article-text{
    display: flex;
    justify-content: center;
    margin: 10px auto 10px auto;
    padding: 0px 0px 40px 0px;
    min-width: 375px;
    max-width: 1465px;
}

.article-only-text{
    background: #FFFFFF;
    width: 100%;
    padding: 10px;
    word-break: break-word;
    text-align: left;

    line-height: 30px;
    height: 100%;
}

.br-text{
    padding: 0px 0px 100px 0px;
}
body{
    height: 100%;
    font-size: min(24px, 7vw);
    font-family: 'Montserrat';
    font-weight: 300;
}