.container-profile {
    display: flex;

    flex-direction: column;

    max-width: 1000px;
    min-width: 375px;
    margin: auto;

    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 20px;
}

.info{
    width: 100%;
    margin: auto;
}

.profile-info {
    display: grid;
    gap: 10px;
    margin: 40px auto 20px auto;
    justify-content: center;
    align-items: start;

    min-width: 375px;
    max-width: 1465px;

    grid-template-columns: repeat(
    auto-fill,
    minmax(375px, 1fr)
    );
}


.image-container img{
    border: 3px solid black;
    border-radius: 150px;
    width: 300px;
    min-width: 200px;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    display: block;
}

.image-container{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.profile__name_key {
    width: fit-content;
    text-align: left;
    padding: 1px 3px 0px 3px;
}

.profile_name {
    margin: 20px;
}

.profile__name {
    border: 3px solid #000;
    background: #C7FCEC;
    box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: fit-content;
    text-align: center;
    padding: 0px 3px 0px 3px;
}

.profile_phone_number {
    margin: 20px;
}

.profile__phone_number_key {
    width: fit-content;
    text-align: center;
    padding: 1px 3px 0px 3px;
}

.profile__phone_number {
    border: 3px solid #000;
    background: #C7FCEC;
    box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: fit-content;
    text-align: center;
    padding: 0px 3px 0px 3px;
}

.profile_email {
    margin: 20px;
}

.profile__email_key {
    border-radius: 5px;
    width: fit-content;
    text-align: center;
    padding: 1px 3px 0px 3px;
}

.profile__email {
    border: 3px solid #000;
    background: #C7FCEC;
    box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: fit-content;
    text-align: center;
    padding: 0px 3px 0px 3px;
}

.profile_birthday{
    margin: 20px;
}

.profile__birthday {
    border: 3px solid #000;
    background: #C7FCEC;
    box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: fit-content;
    text-align: center;
    padding: 0px 3px 0px 3px;
}

.profile__birthday_key {
    width: fit-content;
    text-align: center;
    padding: 1px 3px 0px 3px;
}

.profile_city{
    margin: 20px;
}

.profile__city {
    border: 3px solid #000;
    background: #C7FCEC;
    box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: fit-content;
    text-align: center;
    padding: 0px 3px 0px 3px;
}

.profile__city_key {
    padding: 1px 3px 0px 3px;
    width: fit-content;
    text-align: center;
}

.change-button {
    width: 30px;
    height: 30px;
    background-image: url('../img/change.png');
    background-size: cover;
    border: none;
    background-color: transparent;
    margin: 5px 0px 0px 10px;
}

.to_change {
    display: flex;
}

.slider-container {
    width: 100%;
    display: grid;
    justify-content: center;
    margin: 60px 0px;
}

.slider {
    min-width: 375px;
    max-width: 1000px;
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    background: #C7FCEC;
    box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    border: 3px solid #000;
    margin: 20px 0px;
}

.slider_points {
    color: black;
    border: 3px solid #000;
    background: #FFFFFF;
    box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 1px 3px 0px 3px;
    width: fit-content;
    height: fit-content;
    text-align: left;
}

.slider_discount {
    color: black;
    border: 3px solid #000;
    background: #FFFFFF;
    box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 1px 3px 0px 3px;
    width: fit-content;
    text-align: right;
}
.slider_info {
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.slider_future {
    grid-row: 3/4;
    display: flex;
    justify-content: space-between;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: green;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: green;
}

.block_orders{
    width: 100%;
    margin: 70px 0px 0px 0px;
}

.orders{
    min-width: 375px;
    max-width: 1000px;
    display: grid;
    align-items: center;
    margin: 0px auto 0px auto; 
}

.one_order {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    justify-items: center;
    align-items: center;
    justify-content: space-between;

    border: 3px solid #000;
    background: #FFFFFF;
    box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 1px 3px 0px 3px;
}


.image-podcontainer-order{
    display: block;
    padding: 5px;
}

.image-podcontainer-order img{
    border: 3px solid black;
    border-radius: 20px;
    min-width: 50px;
    max-width: 100px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    display: block;
}

.info-order{
    --line: 1.15em;
    --number-of-lines: 3;
    
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(3 * var(--line));
    line-height: var(--line);
}
.date-city-order{
    width: 100px;
}

.title-orders{
    margin: 200px auto 0px auto;
    width: fit-content;
    padding: 10px;
    font-size: 24pt;
    border: 3px solid #000;
    background: #C7FCEC;
    box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.mega-title-orders{
   width: 100%;

}

.one_order_blue {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-items: center;
    align-items: center;
    justify-content: space-between;

    border: 3px solid #000;
    background: #C7FCEC;
    box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 1px 3px 0px 3px;
}

.info-profile-block{
    display: flex;
    flex-direction: column;
}

.delivery-info{
    display: flex;
    flex-direction: row;
}