
@font-face {
    font-family: 'Rostov';
    src: url('../fonts/Rostov/Rostov.ttf');
}


@font-face {
    font-family: 'Dzimaa';
    src: url('../fonts/Dzimaa/Dzimaa.otf') format('opentype');
}

@font-face {
    font-family: 'old';
    src: url('../fonts/old/old.ttf');
}

@font-face {
    font-family: 'alcotton';
    src: url('../fonts/alcotton/alcotton.ttf');
}

.main-small-block-goods{
    display: flex;

    flex-direction: column;

    max-width: 1000px;

    margin: auto;
}

.small-info-product{
    display: grid;

    grid-template-columns: repeat(
    auto-fill,
    minmax(400px, 1fr)
    );

    grid-row-gap: min(20vw, 40px);

}

.thumbnails {
    display: flex;
    flex-direction: row;
    justify-content: center;

    max-width: min(400px, 80vw);
    width: 100%;

    margin: 2vw 0px 0px 0px;
}

.focusImage {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    max-width: min(400px, 80vw);

    border: 3px solid #000;
    box-shadow: 4px 4px 0px 1px rgba(0, 0, 0, 0.8);
    border-radius: 15px;
}

.thumbnailImage {
    max-width: min(15vw, 80px);
    min-width: min(5vw, 20px);
    aspect-ratio: 1 / 1;
    margin: min(5px, 1vw);;
    cursor: pointer;
    object-fit: cover;

    border: 2px solid #000;
    border-radius: 15px;
}

.images-solo-product{
    margin: auto;
}

.small-info-goods{
    font-family: 'Dzimaa';
    font-size: 40px;
    padding: 0px min(30px, 4vw);
}

.name-price-goods{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small-description-goods{
    font-size: 20px;
    font-family: 'Dzimaa';
    margin: 10px 0px;
}

.name-goods{
    font-family: 'Rostov';
    font-size: 50px;
    margin: 0px 50px 0px 0px;
}

.price-goods{
    font-size: 20px;
    margin: 0px;
    font-family: 'Rostov';
}

.button-buy-goods{
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 300;

    width: 100%;
    padding: 18px 0px 18px 0px;

    background: #FF9E2C;
    color: black;

    border: 2px solid #000;
    border-radius: 4px;

}

.all-info-block{
    min-width: 370px;
    margin: 40px 0px 0px 0px;
    padding: 0px min(30px, 4vw);
}

.show-all-info-goods{
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 300;

    width: 100%;
    padding: 18px 0px 18px 0px;

    border: 2px solid #0B0B0B;

    background: #0B0B0B;
    color: white;
}

.all-info-product {
    width: 100%;

    font-family: 'Dzimaa';
    font-size: 18px;

    margin: 0px;

}

.all-info-product p{
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 300;

    min-width: 150px;
    padding: 0px 0px 0px 20px
}

.block--hidden {
    display: none;
}

.key-value-goods{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 0px 0px;
}

.all-comments-block{
    min-width: 370px;
    margin: 40px 0px 0px 0px;
    padding: 0px min(30px, 4vw);
}

.block--hidden2 {
    display: none;
}

.all-info-comments {
    width: 100%;

    font-family: 'Dzimaa';
    font-size: 18px;

    margin: 0px;
}

.name-score-comment{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background: #FF9E2C;

    padding: 10px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.name-score-comment p{
    margin: 0px;
}

.text-comment{
    background: #0B0B0B;
    color: white;

    text-align: justify;

    font-family: 'Montserrat';
    font-weight: 300;

    height: 100%;
    padding: 10px 20px 10px 20px;
    margin: 0px;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}