html{
    font-size: 16pt;
}
.info{
    width: 100%;
    margin: auto;
}

.profile-info {
    display: grid;
    gap: 10px;
    margin: 40px auto 20px auto;
    justify-content: center;
    align-items: start;
    min-width: 700px;
    max-width: 1465px;
    grid-template-columns: repeat(
        auto-fill,
        minmax(367px, 1fr)
    );
    grid-template-columns: repeat(
    auto-fill,
    minmax(400px, 1fr)
    );
}

.image-podcontainer{
    display: block;
    padding: 12px;
    background-color: #C7FCEC;
    border-radius: 50px;
    border: 3px solid black;
    box-shadow: 3px 3px 0px 1px rgba(0, 0, 0, 0.7);
}

.image-podcontainer img{
    border: 3px solid black;
    border-radius: 50px;
    width: 300px;
    min-width: 200px;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    display: block;
}

.image-container{
    grid-column: 1/2;
    grid-row: 1/11;;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.profile__name_key {
    border: 3px solid #000;
    background: #FFFFFF;
    box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: fit-content;
    text-align: left;
    padding: 1px 3px 0px 3px;
}

.profile_name {
    margin: 20px;
}

.profile__name {
    border: 3px solid #000;
    background: #C7FCEC;
    box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: fit-content;
    text-align: center;
    padding: 0px 3px 0px 3px;
}

.profile_phone_number {
    margin: 20px;
}

.profile__phone_number_key {
    border: 3px solid #000;
    background: #FFFFFF;
    box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: fit-content;
    text-align: center;
    padding: 1px 3px 0px 3px;
}

.profile__phone_number {
    border: 3px solid #000;
    background: #C7FCEC;
    box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: fit-content;
    text-align: center;
    padding: 0px 3px 0px 3px;
}

.profile_email {
    margin: 20px;
}

.profile__email_key {
    border: 3px solid #000;
    background: #FFFFFF;
    box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: fit-content;
    text-align: center;
    padding: 1px 3px 0px 3px;
}

.profile__email {
    border: 3px solid #000;
    background: #C7FCEC;
    box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: fit-content;
    text-align: center;
    padding: 0px 3px 0px 3px;
}

.profile_birthday{
    margin: 20px;
}

.profile__birthday {
    border: 3px solid #000;
    background: #C7FCEC;
    box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: fit-content;
    text-align: center;
    padding: 0px 3px 0px 3px;
}

.profile__birthday_key {
    border: 3px solid #000;
    background: #FFFFFF;
    box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: fit-content;
    text-align: center;
    padding: 1px 3px 0px 3px;
}

.profile_city{
    margin: 20px;
}

.profile__city {
    border: 3px solid #000;
    background: #C7FCEC;
    box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: fit-content;
    text-align: center;
    padding: 0px 3px 0px 3px;
}

.profile__city_key {
    border: 3px solid #000;
    background: #FFFFFF;
    box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 1px 3px 0px 3px;
    width: fit-content;
    text-align: center;
}

.change-button {
    width: 30px;
    height: 30px;
    background-image: url('../change.png');
    background-size: cover;
    border: none;
    background-color: transparent;
    margin: 5px 0px 0px 10px;
}

.to_change {
    display: flex;
}